<!DOCTYPE html> 
<html> 
<head> 
	<title>Index Page Layout</title> 
    <link rel="stylesheet" href="styles.css">
</head> 

<body> 
	
	<!-- Header Section -->
	<header> 
		<div class="head-1">Yummy Recipes</div> 
		<div class="head-2">A recipe portal for food nerds</div> 
	</header> 
	
	<!-- Menu Navigation Bar -->
	<div class="menu"> 
		<a href="#home">HOME</a> 
	</div> 
	
	<!-- Body section -->
	<div class = "all-recipes"> 
		<section> 
			<h3>Recipes!!</h3> 
            <div><% @recipes.each do |recipe| %></div>
            <div class="recipe-title"><%= link_to recipe["title"], search_path(recipe["id"]) %></div>
            <div class="recipe-image"><%= image_tag recipe["image"] %></div>
            <div><% end %></div>
		</section> 
	</div> 
	<!-- Footer Section -->
	<footer>Footer Section</footer> 
</body> 
</html>		 
