
.head-1 { 
    font-size:40px; 
    color:#5fb374; 
    background-color: #2D4A35;
    font-weight:bold; 
    margin: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.head-2 { 
    font-size:17px; 
    font-style: italic;
    margin-left:10px; 
    margin-bottom:15px; 
    display: flex;
    align-items: center;
    justify-content: center;
} 
body { 
    margin: 0 auto; 
    background-position:center; 
    background-size: contain; 
} 

.menu { 
    position: sticky; 
    top: 0; 
    background-color: #385c42; 
    padding:10px 0px 10px 0px; 
    color:white; 
    margin: 0 auto; 
    overflow: hidden; 
} 
.menu a { 
    float: left; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 20px; 
} 
.menu-log { 
    right: auto; 
    float: right; 
} 
.all-recipes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.recipe-title {
    font-family: Palatino, URW Palladio L, serif;
    padding: 20px 16px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.recipe-image {
    padding: 14px 16px; 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.receipe-tag {
 padding: 14px 16px; 
 font-family: 'Courier New', Courier, monospace;
}
.receipe-description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chef-name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
footer { 
    width: 100%; 
    bottom: 0px; 
    background-color: #494d4a; 
    color: #fff; 
    position: sticky; 
    padding-top:20px; 
    padding-bottom:30px; 
    text-align:center; 
    font-size:30px; 
    font-weight:bold; 
} 
.body_sec { 
    margin-left:20px; 
} 